language: php
script: phpunit test/TestSuite.php
 
php:
    - 5.4


before_script:
  - sudo apt-get install php-pear php5-dev
  - wget http://download.nanomsg.org/nanomsg-0.4-beta.tar.gz
  - tar xfvz nanomsg-0.4 ; ./configure ; sudo make install
  - git clone git@github.com:mkoppanen/php-nano.git
  - cd php-nano; phpize ; ./configure ; sudo make install
  - phpenv config-add php.ini
  - cmake . ; make ; ./notifd

