language: php
script: phpunit test/TestSuite.php
 
php:
    - 5.4

before_script:
  - sudo apt-get install php-pear php5-dev
  - wget http://download.nanomsg.org/nanomsg-0.4-beta.tar.gz
  - tar xfvz nanomsg-0.4-beta.tar.gz ; cd nanomsg-0.4-beta; ./configure --prefix=/usr  ; sudo make install
  - cd -
  - git clone git://github.com/mkoppanen/php-nano.git
  - cd php-nano; phpize ; ./configure ; sudo make install
  - cd -
  - cat ./travis/php.ini
  - phpenv rehash
  - phpenv config-add ./travis/php.ini
  - cmake . ; make 
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec ./notifd


